.banner{
    background-image: url("../img/img1.webp");
    padding: 3% 34% 42% 40%;
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
.banner::after{
    content: '';
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: -1;
}
.fuente{
    font-family: 'Abril Fatface', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
color: white;
}